/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: hidden; /* Evita el scroll horizontal */
    overflow-y: hidden; /* Evita el scroll vertical */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Parte superior (fecha y hora) */
.upper-section {
    display: flex;
    flex: 1;
    background-color: #1e90ff;
    color: white;
    justify-content: space-between;
    padding: 10px; /* Reducido el padding */
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%; /* El primer cuarto para la fecha */
}

.date-item {
    font-size: 50px; /* Reducido el tamaño de fuente */
    font-family: 'Poppins', sans-serif; 
    margin: 5px 0; /* Espacio reducido entre las líneas de la fecha */
    font-weight: 700;
}

.time {
    width: 75%; /* Los otros tres cuartos para la hora */
    justify-content: center; /* Centra el contenido horizontalmente */
    display: flex; /* Habilita Flexbox */
    align-items: center; /* Centra el contenido verticalmente */
}

/* Clima actual y pronósticos */
.clima-container {
    display: flex;
    width: 100%;    
    padding: 0;
    margin: 0;
}

.clima-rectangulo {
    background-color: #1e90ff; /* Fondo azul para los pronósticos */
    flex: 1;
    border: 4px solid #ffffff; /* Borde gris para los pronósticos */
    padding: 3px; /* Reducido el padding */
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px; /* Reducido el tamaño de fuente */
    box-sizing: border-box;
}

#clima-actual {
    background-color: #1e90ff; /* Fondo azul oscuro solo para clima actual */
    border: 4px solid #ffffff; /* Borde grueso negro solo para clima actual */
}

.clima-rectangulo img {
    width: 80px; /* Reducido el tamaño de las imágenes */
    height: auto;
    margin-bottom: 5px; /* Reducido el margen */
}

.clima-rectangulo p {
    color: #ffffff; /* Texto negro para mejor visibilidad */
    font-size: 18px; /* Reducido el tamaño de fuente */
    margin: 2px 0; /* Espacio reducido entre párrafos */
}

/* Estilos para texto dentro de cada sección */
h1, h2 {
    margin: 0;
    font-size: 28px; /* Ajustado el tamaño de encabezados */
    font-weight: bold;
}

/* Estilos para la hora */
#hora {
    font-family: 'Arial Black', Arial, sans-serif; /* Fuente para la hora */
    font-size: 180px; /* Tamaño de fuente para horas y minutos */
    text-align: center; /* Centra el texto dentro del elemento */
    white-space: nowrap; /* Evita que el texto se rompa en múltiples líneas */
}

#segundos {
    font-size: 0.8em; /* Tamaño más pequeño para los segundos */
}

#dosPuntosSegundos {
    font-size: 0.8em; /* Tamaño más pequeño para los dos puntos */
}


