/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: hidden; /* Evita el scroll horizontal */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Altura total de la ventana */
}

/* Parte superior (fecha y hora) */
.upper-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra verticalmente el contenido */
    background-color: #000000; /* Fondo negro */
    color: white;
    flex: 2; /* Ocupa más altura que el clima */
    text-align: center;
    padding: 0px; /* Añadido espacio interno */
}

.fecha {
    font-size: 48px; /* Tamaño de la fecha */
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 0px; /* Espacio entre la fecha y la hora */
}

.time {
    font-family: 'Open Sans', sans-serif;
    font-size: 120px; /* Aumentado el tamaño de la hora */
    color: white; /* Color de la hora en blanco */
    display: flex; /* Habilita Flexbox */
    align-items: baseline; /* Centra verticalmente el contenido */
    justify-content: center; /* Asegura que la hora esté centrada horizontalmente */
}

#segundos {
    color: #1e90ff; /* Color celeste para los segundos */
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em; /* Tamaño más pequeño para los segundos */
}

/* Parte inferior (clima) */
.clima-container {
    display: flex;
    flex: 1; /* Ocupa menos altura que la sección superior */
}

.clima-rectangulo {
    background-color: #757576; /* Fondo para los pronósticos */
    flex: 1;
    border: 4px solid #ffffff; /* Borde blanco para los pronósticos */
    padding: 3px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
    box-sizing: border-box;
}

#clima-actual {
    background-color: #1e90ff; /* Fondo azul oscuro solo para clima actual */
}

.clima-rectangulo img {
    width: 80px; /* Reducido el tamaño de las imágenes */
    height: auto;
    margin-bottom: 0px; /* Reducido el margen */
}

.clima-rectangulo p {
    color: #ffffff; /* Texto blanco para mejor visibilidad */
    font-size: 18px; /* Reducido el tamaño de fuente */
    margin: 2px 0; /* Espacio reducido entre párrafos */
}

/* Estilos para texto dentro de cada sección */
h1, h2 {
    margin: 0;
    font-weight: bold;
}


/* Estilos para el botón de cambio de color */
.color-toggle-button {
    position: absolute;
    top: 20px; /* Distancia desde la parte superior */
    right: 20px; /* Distancia desde la derecha */
    width: 40px; /* Ancho del botón */
    height: 40px; /* Alto del botón */
    background-color: #1e90ff; /* Color inicial del botón */
    border: none; /* Sin borde */
    border-radius: 50%; /* Botón circular */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    z-index: 10; /* Asegúrate de que esté en la parte superior */
}
